In [37]:
import pandas as pd
import numpy as np

In [38]:

df=pd.read_csv('c:\\dados\\ecommerce.csv',delimiter=';')
df.head()

,Black Sabbath,Pink Floyd,Marisa Monte,Paralamas,Beatles,Metallica,Ivete Sangalo,Leonardo,Safadão,Chopin
0,1,0,0,0,0,1,0,0,0,0
1,0,1,1,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,1,1,0
3,1,1,0,1,0,0,0,0,0,1
4,0,0,1,1,0,0,0,0,0,0

In [39]:
A=np.array(df)

Gerar a Matriz de Similaridade WC

Obtenha a matriz de recomendações USER BASED

Gerar a função de recomendação