# Mack Aprendizado Não Supervisionado - Outlier

Criaremos um índice pela distância ao centróide das features standardizadas

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [3]:
df=pd.read_csv('romevaldo.csv',delimiter=';')
df.head(20)

      Jogador  Passes Errados  Passes Certos  Desarmes  Assistências  Gols
0        João              61             59        33            14     1
1        José              65             66        27            13     1
2       Paulo              58             66        40            14     3
3     Marcelo              67             79        20            18     0
4      Carlos              74             71        23            13     1
5     Antonio              79             69        42            15     3
6     Pereira              65             55        21             8     3
7    Jovelson              76             63        42            15     7
8       Sávio              65             70        19            13     6
9    Acalildo              47             56        24            10     5
10  Romevaldo              20             60        50            30     8
11     Grossi              80              2         1             0     0

In [4]:
X=np.array(df.drop(labels='Jogador',axis=1))
scaler = StandardScaler()
scaler.fit(X)
XS=scaler.transform(X)
XS

array([[-0.13182933, -0.03585462,  0.3479601 ,  0.06311944, -0.82055272],
       [ 0.12128299,  0.34061887, -0.1159867 , -0.08836722, -0.82055272],
       [-0.32166357,  0.34061887,  0.88923137,  0.06311944, -0.06311944],
       [ 0.24783914,  1.03978391, -0.65725797,  0.66906607, -1.19926937],
       [ 0.6907857 ,  0.6095285 , -0.42528457, -0.08836722, -0.82055272],
       [ 1.0071761 ,  0.50196464,  1.04388031,  0.2146061 , -0.06311944],
       [ 0.12128299, -0.25098232, -0.5799335 , -0.8458005 , -0.06311944],
       [ 0.81734186,  0.17927309,  1.04388031,  0.2146061 ,  1.45174713],
       [ 0.12128299,  0.55574657, -0.73458244, -0.08836722,  1.07303049],
       [-1.01772244, -0.1972004 , -0.3479601 , -0.54282719,  0.69431384],
       [-2.72623059,  0.01792731,  1.66247605,  2.48690595,  1.83046377],
       [ 1.07045418, -3.10142441, -2.12642285, -2.05769375, -1.19926937]])

In [5]:
for i in range(len(df)):
    print(df.iloc[i,0], np.linalg.norm(XS[i]))

João 0.9038980010277421
José 0.9084598102762078
Paulo 1.0090536300198938
Marcelo 1.86023097174576
Carlos 1.3079343928047225
Antonio 1.551160254749107
Pereira 1.0646065509596574
Jovelson 1.9858243004249827
Sávio 1.4221034985041465
Acalildo 1.4044416226948884
Romevaldo 4.442046829045298
Grossi 4.57807058099874