In [6]:
import pandas as pd
import numpy as np

url = ('https://raw.githubusercontent.com/JasonMDev/'
'learning-python-predictive-analytics/master/'
'datasets/Gender%20Purchase.csv')

In [7]:
# Read dataset
df = pd.read_csv(url)
#df = pd.read_csv('Supporting Material/Gender Purchase.csv')
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Gender    511 non-null    object
 1   Purchase  511 non-null    object
dtypes: object(2)
memory usage: 8.1+ KB

In [9]:
df.describe()

        Gender Purchase
count      511      511
unique       2        2
top     Female      Yes
freq       265      280

In [10]:
# Show the amount yes or nos by gender
contingency_table = pd.crosstab(df['Gender'], df['Purchase'])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [15]:
##### Explicação da função lambda #####
def soma(a,b):
    return a+b

print(soma(1,2))

lambda_func = lambda x:soma(x,2)

def f2(a):
    return soma(a,2)

print(lambda_func(3), f2(3)) 
######################################

3
5 5

In [16]:
# Show frequencies
probabilities = contingency_table.apply(lambda x: x/sum(x), axis=1) # 'apply' irá aplicar a função lambda 
                                                                    # (explicada acima) para todos os valores
                                                                    # do eixo selecionado: axis = 0 -> Coluna
                                                                    #                      axis = 1 -> Linha
probabilities

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

In [22]:
# Show frequencies - Male
print(probabilities.loc['Male']['Yes'])
print(probabilities.loc['Male']['No'])

print('Odds Male =', probabilities.loc['Male']['Yes']/probabilities.loc['Male']['No'])

0.491869918699187
0.508130081300813
Odds Male = 0.968

In [23]:
# Show frequencies - Female
print(probabilities.loc['Female']['Yes'])
print(probabilities.loc['Female']['No'])

print('Odds Female =', probabilities.loc['Female']['Yes']/probabilities.loc['Female']['No'])

0.6
0.4
Odds Female = 1.4999999999999998