# Mack Aprendizado Não Supervisionado - Revisão Python

1)<b>Listas</b><br/>
a)Partindo da lista l1, obtenha o tamanho dela<br/>
b)Faça o "append" do elemento 5<br/>
c)Slice: obtenha a lista l2 tirando do segundo ao quinto elemento de l1

In [3]:
l1=[1,2,'banana',[9,8,7],3.3,19,35]
l1.append(5)
l2=l1[1:5]
l2

[2, 'banana', [9, 8, 7], 3.3]

In [13]:
l=[1,2,3]+[4,5,6]
l

[1, 2, 3, 4, 5, 6]

2)<b>Laços</b><br/>
a)Faça um laço que apresentará todos os elementos de l1<br/>
b)Faça o mesmo laço com um índice de 0 ao tamanho da lista-1

In [16]:
l1=[1,2,'banana',[9,8,7],3.3,19,35]
for i in range(len(l1)):
    print(l1[i])

1
2
banana
[9, 8, 7]
3.3
19
35

3)<b>Decisões</b><br/>
a)Partindo de l3, crie a lista l4 com os elementos de l1 menores que a média

In [17]:
l3=[2,5,4,8,9,12,21,17]
l4=[]
media=sum(l3)/len(l3)
for e in l3:
    if e<media:l4.append(e)

media,l4



#coloque o código aqui

(9.75, [2, 5, 4, 8, 9])

<b>4)Dicionários</b><br/>
a)O dicionário d1, traz (para cada nome), as notas nos 2 semestres. Apresente a média de cada um.

In [18]:
d1={'carlos':[7,8],'maria':[9,10],'nelson':[10,8],'paula':[8,10]}
#coloque o código aqui
d1['marcelo']=[10,10]
d1

{'carlos': [7, 8],
 'maria': [9, 10],
 'nelson': [10, 8],
 'paula': [8, 10],
 'marcelo': [10, 10]}

In [19]:
for k in d1:
    print(k,0.5*(d1[k][0]+d1[k][1]))

carlos 7.5
maria 9.5
nelson 9.0
paula 9.0
marcelo 10.0

5)<b>Tuplas e Conjuntos</b><br/>
a)Tente alterar o primeiro elemento da tupla t1...é possível? Por que?<br/>
b)Crie um novo conjunto s1, com os elementos não repetidos da lista l5

In [21]:
t1=(2,4,1,4)
l5=[4,4,2,2,1,4,7,8,2]

In [23]:
s1=set(l5)
l5u=list(s1)
l5u

[1, 2, 4, 7, 8]