In [11]:
import numpy as np
import pandas as pd

In [12]:
df=pd.read_csv('c:\\dados\\iris.txt',names=['m1','m2','m3','m4','esp'])
df.head()

    m1   m2   m3   m4          esp
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [13]:
#aqui tiro a média das features para que a média seja zero
m1=df['m1'].mean()
m2=df['m2'].mean()
m3=df['m3'].mean()
m4=df['m4'].mean()

df['m1']=df['m1']-m1
df['m2']=df['m2']-m2
df['m3']=df['m3']-m3
df['m4']=df['m4']-m4

In [4]:
esp=df['esp'].copy()
esp=esp.map({'Iris-setosa':0,'Iris-virginica':1,'Iris-versicolor':0})
X=df.drop(columns=['esp']).copy()

In [14]:
X[:5]

         m1     m2        m3        m4
0 -0.743333  0.446 -2.358667 -0.998667
1 -0.943333 -0.054 -2.358667 -0.998667
2 -1.143333  0.146 -2.458667 -0.998667
3 -1.243333  0.046 -2.258667 -0.998667
4 -0.843333  0.546 -2.358667 -0.998667

In [15]:
C=np.cov(X.T) #matriz de covariância
C

array([[ 0.68569351, -0.03926846,  1.27368233,  0.5169038 ],
       [-0.03926846,  0.18800403, -0.32171275, -0.11798121],
       [ 1.27368233, -0.32171275,  3.11317942,  1.29638747],
       [ 0.5169038 , -0.11798121,  1.29638747,  0.58241432]])

In [ ]:
#vamos obter a mesma matriz "na mão"