In [14]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [20]:
df=pd.read_csv('cars-uci.csv',delimiter=';')
#eliminando linhas com missings
df=df.dropna()

In [21]:
df.head()

    mpg  cylinders  displacement  ...  year  origin                       name
0  18.0          8          3070  ...    70       1  chevrolet chevelle malibu
1  15.0          8          3500  ...    70       1          buick skylark 320
2  18.0          8          3180  ...    70       1         plymouth satellite
3  16.0          8          3040  ...    70       1              amc rebel sst
4  17.0          8          3020  ...    70       1                ford torino

[5 rows x 9 columns]

In [5]:
#definindo as dimensões do para clustering
mpg=np.array(df['mpg'])
hp=np.array(df['horsepower'])
w=np.array(df['weight'])

In [6]:
#simples verificação
hp[0]

130.0

Standardization das features

In [7]:
mpgm,mpgdp=mpg.mean(),mpg.std()

In [8]:
hpm,hpdp=hp.mean(),hp.std()

In [9]:
wm,wdp=df['weight'].mean(),df['weight'].std()

In [11]:
XS=np.zeros((len(mpg),3))

In [12]:
XS[:,0]=(mpg-mpgm)/mpgdp
XS[:,1]=(hp-hpm)/hpdp
XS[:,2]=(w-wm)/wdp

Fazer kmeans para k de 2 a 8<br/>
Traçar a curva do cotovelo<br/>
Escolher um K<br/>
Pegar 20 amostras de cada cluster e "explicá-las" (Storytelling)<br/>