<b>Criação de Dendogramas - Cluster Hierárquico</b>

Você deverá gerar o desenho (na mão) de dois dendrogramas. O primeiro será com critério linkage='single' e o segundo com linkage='complete'<br/>
Ambos já foram iniciados (figura dendro.jng, em anexo)...ambos iguais no início<br/>
O DataFrame traz a distâncias entre pares de pontos<br/>
Use a função dist_min_max(l1,l2) para saber a mínima e a máxima distância entre dois grupos de pontos<br/><br>

Exemplo: no dendograma do linkage single, o cluster 1,2 vai se ligar ao 5,6 ou ao 0? <br/>

In [1]:
import pandas as pd
import numpy as np
#O dataframe traz as distâncias entre os pontos 
df=pd.read_csv('hier.csv')#acerte o path para sua máquina
dist=df.to_numpy()[:,1:]
df

,Unnamed: 0,0,1,2,3,4,5,6
0,0,0.000000,1.802776,2.000000,5.656854,6.403124,3.162278,4.123106
1,1,1.802776,0.000000,1.118034,3.905125,4.609772,2.500000,3.201562
2,2,2.000000,1.118034,0.000000,4.472136,5.000000,1.414214,2.236068
3,3,5.656854,3.905125,4.472136,0.000000,1.000000,5.099020,5.000000
4,4,6.403124,4.609772,5.000000,1.000000,0.000000,5.385165,5.099020
5,5,3.162278,2.500000,1.414214,5.099020,5.385165,0.000000,1.000000
6,6,4.123106,3.201562,2.236068,5.000000,5.099020,1.000000,0.000000

In [2]:
dist[1,2]

1.118033988749895

In [12]:
# Mostra a mínima e a máxima distância entre os pontos da lista l1 e L2
def dist_min_max(l1,l2):
    dists=[]
    for i in l1:
        for j in l2:
            dists.append((i,j,dist[i,j]))
#             print("DEBUG dists.append", dists)
#     print(len(dists))
    dists.sort(key=lambda x:x[2])
#     print("DEBUG [dists.sort] ", dists)
    return((dists[0][2],dists[-1][2]))

In [41]:
# Exemplo do uso da função : mínima e máxima distância entre cluster 1,2 e cluster 0
dist_min_max([3,4],[5,6])

(5.0, 5.385164807134505)

In [5]:
df.shape

(7, 8)

In [6]:
df

,Unnamed: 0,0,1,2,3,4,5,6
0,0,0.000000,1.802776,2.000000,5.656854,6.403124,3.162278,4.123106
1,1,1.802776,0.000000,1.118034,3.905125,4.609772,2.500000,3.201562
2,2,2.000000,1.118034,0.000000,4.472136,5.000000,1.414214,2.236068
3,3,5.656854,3.905125,4.472136,0.000000,1.000000,5.099020,5.000000
4,4,6.403124,4.609772,5.000000,1.000000,0.000000,5.385165,5.099020
5,5,3.162278,2.500000,1.414214,5.099020,5.385165,0.000000,1.000000
6,6,4.123106,3.201562,2.236068,5.000000,5.099020,1.000000,0.000000

In [7]:
lista = [[1,2,3,4], [4,3,2,100]]
len(lista)
lista.sort(key=lambda x:x[3]) # A função lambda vai pegar o terceiro elemento das listas 
                              # e comparar para saber se o 'sort' será crescente ou 
                              # decrescente. Neste exemplo é decrescente porquê
                              # lista[0][3] = 4 < lista[1][3] = 100                              # 
print(lista)

[[1, 2, 3, 4], [4, 3, 2, 100]]

In [8]:
print(lista[-1][3])

100

In [9]:
(lambda x: x[1][1])(lista)

3