# Parte 1

Observe o último exercício para verificar como ler e manipular o MNIST dataset.

### Exercicio 1.1

Os classificadores SVM são binários e só conseguem prever entre duas classes 0 e 1. Por favor, manipule o conjunto de treinamento e teste para que haja apenas elementos cujo digito seja `0`e `1`

In [44]:
import numpy as np
from sklearn.datasets import fetch_openml
mnist = fetch_openml('mnist_784', version=1)
mnist.keys()

dict_keys(['data', 'target', 'frame', 'categories', 'feature_names', 'target_names', 'DESCR', 'details', 'url'])

#### Os labels devem ser da forma (Não necessariamente nessa ordem)
```mnist.target[:10]
array(['0', '1', '1', '1', '0', ...```

#### Ou seja, remova de  `mnist.data` e `mnist.target` todos os elementos que não sejam `0` e `1`

Nota: Cuidado para não ter labels e imagens com referencias incorretas. Toda imagem de um caractere `0` deve corresponder ao `mnist.target` com valor `0`. Por exemplo, se você remover o primeiro item do `mnist.target` deve remover também de `mnist.data` e assim por diante.

In [45]:
# Seu código
import pandas as pd
df = pd.DataFrame(data= np.c_[mnist['data'], mnist['target']],
                     columns= mnist['feature_names'] + ['target'])

In [46]:
df.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9

In [47]:
df_2 = df[(df['target']=='1') | (df['target'] == '0')]

In [48]:
df_2.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,target
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [49]:
df_2np = df_2.to_numpy()

In [53]:
df_2np

array([[0.0, 0.0, 0.0, ..., 0.0, 0.0, '0'],
       [0.0, 0.0, 0.0, ..., 0.0, 0.0, '1'],
       [0.0, 0.0, 0.0, ..., 0.0, 0.0, '1'],
       ...,
       [0.0, 0.0, 0.0, ..., 0.0, 0.0, '1'],
       [0.0, 0.0, 0.0, ..., 0.0, 0.0, '0'],
       [0.0, 0.0, 0.0, ..., 0.0, 0.0, '1']], dtype=object)

### Exercicio 1.2

Crie um classificador SVM para o MNIST dataset. Utilize o `sklearn` para tal atividade.

In [54]:
# Seu codigo
from sklearn.model_selection import train_test_split
X = df_2.drop(columns = ['target'])
y = df_2['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [56]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [57]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [59]:
clf.score(X_test, y_test)

0.9942489851150202

### Exercício 1.3

Treine um classificador SVM no conjunto de dados MNIST. Nesse caso com o dataset inteiro. Como os classificadores SVM são binários, você precisará usar uma abordagem "um contra todos" para classificar todos os 10 dígitos.

Referência: https://scikit-learn.org/stable/modules/svm.html

In [69]:
from sklearn import svm
clf_multi = svm.SVC(decision_function_shape='ovr')

In [70]:
clf_multi.fit(X_train, y_train)

SVC()

In [71]:
clf_multi.score(X_test, y_test)

0.9989851150202977

# Parte 2

Utilize o California Housing dataset (https://github.com/ageron/handson-ml/tree/master/datasets/housing) e crie um Regressor SVM. Por favor prevejam o `median_house_value` (target ou label).

### Codigo para baixar o dataset

In [85]:
import os
import tarfile
from six.moves import urllib

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

In [86]:
import pandas as pd

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

In [93]:
fetch_housing_data()
dataset = load_housing_data()

In [94]:
dataset

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

### Compare a acuracia do seu classificador com um regressor linear.

In [95]:
# Seu codigo aqui
dataset = dataset.drop(columns = ['ocean_proximity'])
dataset = dataset.fillna(dataset.mean())
X = dataset.drop(columns = ['median_house_value'])
y = dataset['median_house_value']

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [97]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [98]:
clf.score(X_test, y_test)

0.05111434108527132

Regressão Linear

In [102]:
from sklearn import linear_model

In [104]:
lr = linear_model.LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [110]:
lr.score(X_test, y_test)

0.6304141760576532